<div class="header-img-p" >
	<img class="large-logo" src="assets/images/logo-site.png" alt="scotiabank colpatria" >
	<img class="small-logo" src="assets/images/scotiabank-colpatria-symbol-red.svg" alt="scotiabank colpatria" >
</div>
