<div class="container">
	<div class="d-flex justify-content-between">
		<h2>Bienvenido {{username}}</h2>
		<button class="btn btn-light" (click)="singOut()" >
			Salir
			<fa-icon [icon]="faSignOutAlt"></fa-icon>
		</button>
	</div>
	<div>
		<h3>
			Lista de clientes actuales:
		</h3>		
	</div>
</div>

<div class="container client-list">
	<div class="list-options d-flex justify-content-between">
		<div></div>
		<button class="btn btn-sm" [routerLink]="['create-client']">
			<fa-icon [icon]="faPlusCircle" [styles]="{'stroke': 'red', 'color': '#e52023'}"></fa-icon>
			Crear Cliente
		</button>
	</div>	
	<div class="row card-grid">
		<div *ngFor="let client of clients" class="col-lg-4">
			<div class="card card-margin">
				<div class="card-header no-border">
						<h5 class="card-title"></h5>
				</div>
				<div class="card-body pt-0">
						<div class="widget-49">
								<div class="widget-49-title-wrapper">
										<div class="widget-49-date-primary">
											<fa-icon [icon]="faUserCircle" size="4x" [styles]="{'stroke': 'red', 'color': '#e52023'}"></fa-icon>
										</div>
										<div class="widget-49-meeting-info">
												<span class="widget-49-pro-title">{{client.name}} {{client.lastName}}</span>
												<span class="widget-49-meeting-time">{{client.documentType}}: {{client.documentNumber}}</span>
										</div>
								</div>
								<div class="widget-49-meeting-action">
										<a [routerLink]="['/client-detail', client.documentNumber]" class="btn btn-sm btn-flash-border-primary">Ver más</a>
								</div>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>