$main-color: #fff

.container-main 
	display: grid
	background-color: $main-color
	grid-template-columns: 1fr
	grid-template-rows: 1fr 6fr 0.5fr
	grid-template-areas: "header header header"". ccontent .""footer footer footer"
	align-content: stretch
	min-height: 100vh

.container-content
	grid-area: ccontent

.header
	grid-area: header

.footer
	background-color: #E52023
	grid-area: footer
	display: flex
	justify-content: center