<ngx-ui-loader></ngx-ui-loader>
<ngx-ui-loader 
  [loaderId]="'loader-request'"
  [fgsColor]="loaderService.config.fgsColor!"
  [fgsPosition]="loaderService.config.fgsPosition!"
  [fgsSize]="loaderService.config.fgsSize!"
  [fgsType]="loaderService.config.fgsType!"
  [bgsColor]="loaderService.config.bgsColor!"
  [bgsOpacity]="loaderService.config.bgsOpacity!"
  [bgsPosition]="loaderService.config.bgsPosition!"
  [bgsSize]="loaderService.config.bgsSize!"
  [bgsType]="loaderService.config.bgsType!"
  [gap]="loaderService.config.gap!"
  [logoPosition]="loaderService.config.logoPosition!"
  [logoSize]="loaderService.config.logoSize!"
  [logoUrl]="loaderService.config.logoUrl!"
  [overlayColor]="loaderService.config.overlayColor!"
  [pbColor]="loaderService.config.pbColor!"
  [pbDirection]="loaderService.config.pbDirection!"
  [pbThickness]="loaderService.config.pbThickness!"
  [hasProgressBar]="loaderService.config.hasProgressBar!"
  [text]="loaderService.config.text!"
  [textColor]="loaderService.config.textColor!"
  [textPosition]="loaderService.config.textPosition!"
></ngx-ui-loader>
<section class="container-main">
  <div class="header" *ngIf="isLoggedIn" >
    <app-header class="header-container" ></app-header>   
  </div>
  <div class="conatiner-content">
    <router-outlet></router-outlet>
  </div>
  <div class="footer" *ngIf="isLoggedIn" >
    <app-footer></app-footer>
  </div>
</section>