//@import "bourbon"

@mixin transform($options-transform)
  -webkit-transform: $options-transform
  -moz-transform: $options-transform
  -ms-transform: $options-transform
  -o-transform: $options-transform
  transform: $options-transform

@mixin transition($transform, $box-shadow: '')
  -webkit-transition: $transform, $box-shadow
  -moz-transition: $transform, $box-shadow
  transition: $transform, $box-shadow

@mixin animation($options)
  -webkit-animation: $options
  -moz-animation: $options
  animation: $options

@mixin keyframes($name) 
  @-webkit-keyframes #{$name} 
    @content 
  
  @-moz-keyframes #{$name} 
    @content
  
  @-ms-keyframes #{$name} 
    @content
  
  @keyframes #{$name} 
    @content
 

// Colors
$loginBackground: rgba(242, 242, 242) 
$greenSeaweed: rgb(160,22,24)
$blueQueen: rgba(223,32,35)
$redFire: rgba(242, 242, 242)
$scotia-color: #E52023
// Fonts
$fontAsap: "Asap", sans-serif

body
  background-color: $loginBackground
  font-family: $fontAsap

.login
  label
    font-size: 16px

.login-logo
  .large-logo 
    width: 100%
  .small-logo
    width: 50%
    margin: auto

.login-form
  overflow: hidden
  background-color: #f2f2f2
  padding: 40px 30px 30px 30px
  border-radius: 10px
  position: absolute
  top: 50%
  left: 50%
  @include transform(translate(-50%, -50%))
  @include transition(transform 300ms, box-shadow 300ms)
  box-shadow: 5px 10px 10px rgba($greenSeaweed, 0.2)

  &::before,
  &::after 
    content: ""
    position: absolute
    width: 900px
    height: 700px
    border-top-left-radius: 40%
    border-top-right-radius: 45%
    border-bottom-left-radius: 35%
    border-bottom-right-radius: 40%
    z-index: -1


  &::before 
    left: 40%
    bottom: -130%
    background-color: rgba($blueQueen, 0.1)
    @include animation(wawes 6s infinite linear)
  

  &::after 
    left: 35%
    bottom: -125%
    background-color: rgba($greenSeaweed, 0.1)
    @include animation(wawes 7s infinite)
  

  > input 
    font-family: $fontAsap
    display: block
    border-radius: 5px
    font-size: 16px
    background: white
    width: 100%
    border: 0
    padding: 10px 10px
    margin-top: 5px 
  

  > button 
    font-family: $fontAsap
    cursor: pointer
    color: #fff
    font-size: 16px
    width: 100%
    border: 0
    padding: 10px 0
    margin-top: 10px
    border-radius: 5px
    background-color: $scotia-color
    @include transition(background-color 300ms)

    &:hover 
      background-color: darken($scotia-color, 1%)

@include keyframes (wawes)
  from 
    @include transform(rotate(0))
  to 
    @include transform(rotate(360deg))

a 
  text-decoration: none
  color: rgba(white, 0.6)
  position: absolute
  right: 10px
  bottom: 10px
  font-size: 12px


