<ng-template #loginModal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title"></h4>
	</div>
	<div class="modal-body">
		{{messageModal}}
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
			(click)="modal.close('Save click')">Cerrar</button>
	</div>
</ng-template>
<div class="login">
  <form class="login-form" [formGroup]="formLogin" name="formLogin" (ngSubmit)="loginApp(loginModal)" >
    <div class="login-logo" >
      <img class="large-logo" src="assets/images/logo-site.png" alt="scotiabank colpatria" >
      <img class="small-logo" src="assets/images/scotiabank-colpatria-symbol-red.svg" alt="scotiabank colpatria" >
    </div>
    <br>    
    <label>Usuario</label>
    <input type="text" formControlName="userName" [ngClass]="{ 'is-invalid': f.userName.touched && f.userName.invalid }"/>
    <div *ngIf="f.userName.touched && f.userName.invalid" class="invalid-feedback">
      <div *ngIf="f.userName.errors?.required">El Usuario es un campo obligatorio</div>
      <div *ngIf="f.userName.errors?.minlength">El Usuario debe tener mas de 6 caracteres</div>
    </div>
    <br>
    <label>Contraseña</label>
    <input type="password" formControlName="password" [ngClass]="{ 'is-invalid': f.password.touched && f.password.invalid }"/>
    <div *ngIf="f.password.touched && f.password.invalid" class="invalid-feedback">
      <div *ngIf="f.password.errors?.required">La Contraseña es un campo obligatorio</div>
    </div>
    <br>    
    <button [disabled]="formLogin.invalid" >Ingresar</button>
  </form>  
</div>
