<ng-template #vModal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title"></h4>
	</div>
	<div class="modal-body">
		{{messageModal}}
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
			(click)="modal.close('Save click')">Cerrar</button>
	</div>
</ng-template>

<div class="container">
	<h3>{{ title }}</h3>
	<div class="row justify-content-center">

		<div class="col-md-9">
			<br>
			<form id="formClientValidation" [formGroup]="formClientValidation" (ngSubmit)="validateClient(vModal)">

				<div class="form-row">
					<div class="form-group col-md-6 col-sm-12 mb-2">
						<label>Nombre</label>
						<input type="text" formControlName="name" class="form-control"
							[ngClass]="{ 'is-invalid': f.name.touched && f.name.invalid }" />
						<div *ngIf="f.name.touched && f.name.invalid" class="invalid-feedback">
							<div *ngIf="f.name.errors?.required">El Nombre es un campo obligatorio</div>
							<div *ngIf="f.name.errors?.maxlength">El Nombre no debe tener mas de 12 caracteres</div>
							<div *ngIf="f.name.errors?.pattern">El Nombre solo debe contener letras</div>
						</div>
					</div>

					<div class="form-group col-md-6 col-sm-12 mb-2">
						<label>Apellido</label>
						<input type="text" formControlName="lastName" class="form-control"
							[ngClass]="{ 'is-invalid': f.lastName.touched && f.lastName.invalid }" />
						<div *ngIf="f.lastName.touched && f.lastName.invalid" class="invalid-feedback">
							<div *ngIf="f.lastName.errors?.required">El Apellido es un campo obligatorio</div>
							<div *ngIf="f.lastName.errors?.maxlength">El Apellido no debe tener mas de 12 caracteres
							</div>
							<div *ngIf="f.lastName.errors?.pattern">El Apellido solo debe contener letras</div>
						</div>
					</div>
				</div>

				<div class="form-group col-md-6 mb-2">
					<label>Fecha de nacimiento</label>
					<input type="date" formControlName="birthDate" class="form-control" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" [ngClass]="{ 'is-invalid': f.birthDate.touched && f.birthDate.invalid }" />
					<div *ngIf="f.birthDate.touched && f.birthDate.invalid" class="invalid-feedback">
						<div *ngIf="f.birthDate.errors?.required">La fecha de nacimiento es un campo obligatorio</div>
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6 mb-2">
						<label for="documentType"> Tipo de documento </label>
						<select class="form-control" formControlName="documentType"
							[ngClass]="{ 'is-invalid': f.documentType.touched && f.documentType.invalid }">
							<option *ngFor="let documentType of documentTypes" 
								[value]="documentType.acronym">{{ documentType.description }}</option>	
						</select>
						<div *ngIf="f.documentType.touched && f.documentType.invalid" class="invalid-feedback">
							<div *ngIf="f.documentType.errors?.required">El tipo de documento es un campo obligatorio
							</div>
						</div>
					</div>

					<div class="form-group col-md-6 mb-2">
						<label>Número de documento</label>
						<input type="number" step="1" formControlName="documentNumber"
							class="form-control" [ngClass]="{ 'is-invalid': f.documentNumber.touched && f.documentNumber.invalid }" />
						<div *ngIf="f.documentNumber.touched && f.documentNumber.invalid" class="invalid-feedback">
							<div *ngIf="f.documentNumber.errors?.required">El Número de documento es obligatorio</div>
							<div *ngIf="f.documentNumber.errors?.max">El Número de documento debe contener máximo 10 caracteres</div>
							<div *ngIf="f.documentNumber.errors?.pattern">El Número de documento solo debe contener números</div>
						</div>
					</div>
				</div>

				<div class="form-group col-md-6 mb-2">
					<label>Fecha de expedicion</label>
					<input type="date" formControlName="documentIssueDate" class="form-control" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" [ngClass]="{ 'is-invalid': f.documentIssueDate.touched && f.documentIssueDate.invalid }" />
					<div *ngIf="f.documentIssueDate.touched && f.documentIssueDate.invalid" class="invalid-feedback">
						<div *ngIf="f.documentIssueDate.errors?.required">La fecha de expedición es un campo obligatorio</div>
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6 mb-2">
						<label>Email</label>
						<input type="email" formControlName="email" class="form-control"
							[ngClass]="{ 'is-invalid': f.email.touched && f.email.invalid }" />
						<div *ngIf="f.email.touched && f.email.invalid" class="invalid-feedback">
							<div *ngIf="f.email.errors?.required">El Email es un campo obligatorio</div>
							<div *ngIf="f.email.errors?.email">Email no valido</div>
						</div>
					</div>
					<div class="form-group col-md-6 mb-2">
						<label>Celular</label>
						<ngx-intl-tel-input ngDefaultControl [cssClass]="'custom'" [preferredCountries]="preferredCountries"
							[ngClass]="{ 'is-invalid': f.cellphone.touched && f.cellphone.invalid }"
							[enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
							[searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
							[selectFirstCountry]="false" [selectedCountryISO]="CountryISO.Colombia"
							[maxLength]=maxLength [phoneValidation]="true" [separateDialCode]="separateDialCode"
							[numberFormat]="PhoneNumberFormat.International" name="cellphone"
							formControlName="cellphone">
						</ngx-intl-tel-input>
						<div *ngIf="f.cellphone.touched && f.cellphone.invalid" class="invalid-feedback">
							<div *ngIf="f.cellphone.errors?.required">El celular es un campo obligatorio</div>
							<div *ngIf="!f.cellphone.errors?.required && f.cellphone.invalid">El número celular no es valido</div>
						</div>
					</div>
				</div>
				<hr>
				<div class="form-group mb-2">
					<button [disabled]="formClientValidation.invalid" class="btn btn-danger btn-block btn-form-validation">Crear Cliente</button>
				</div>

			</form>

		</div>


	</div>

</div>