.col-md-6
	-webkit-box-flex: 0
	flex: 0 0 50%

#formClientValidation
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button 
		-webkit-appearance: none
		margin: 0

	input[type=number] 
		-moz-appearance: textfield
	
.modal-body 
	text-align: center

.modal-footer
	justify-content: center

.btn-form-validation
	margin-top: 15px