<div class="container">
	<div class="d-flex justify-content-between">
		<button class="btn btn-light" [routerLink]="['']" >
			<fa-icon [icon]="faArrowLeft"></fa-icon>
			Regresar
		</button>	
		<div></div>
	</div>
</div>
<div class="container">
	<div class="row gutters-sm">
		<div class="col-md-2 mb-3"></div>
		<div class="col-md-8">
			<div class="card">
				<div class="card-body">
					<div class="d-flex flex-column align-items-center text-center">
						<fa-icon [icon]="faUserCircle" size="6x" [styles]="{'stroke': 'red', 'color': '#e52023'}"></fa-icon>
						<div class="mt-3">
							<h4>{{clientDetails.name}} {{clientDetails.lastName}}</h4>
							<p class="text-secondary mb-1">{{clientDetails.documentType}}: {{clientDetails.documentNumber}}</p>
							<p class="text-secondary mb-1">Expedida en: {{clientDetails.documentIssueDate}}</p>
						</div>
					</div>
				</div>
			</div>			
			<div class="card mb-3">
				<div class="card-body">
					<div class="row">
						<div class="col-sm-4">
							<h4 class="mb-0">Fecha de nacimiento</h4>
						</div>
						<div class="col-sm-8 text-secondary">
							{{clientDetails.birthDate}}
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-sm-4">
							<h4 class="mb-0">Email</h4>
						</div>
						<div class="col-sm-8 text-secondary">
							{{clientDetails.email}}
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-sm-4">
							<h4 class="mb-0">Celular</h4>
						</div>
						<div class="col-sm-8 text-secondary">
							{{clientDetails.cellphone}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>