/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css'
@import "../node_modules/bootstrap/scss/mixins"
@import "../node_modules/bootstrap/scss/functions"
@import "../node_modules/bootstrap/scss/variables"

$grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1400px )
$scotia-color: #E52023

body
	min-height: 100vh

.form-row 
	display: flex
	flex-wrap: wrap
	margin-bottom: 10px

.col
	padding-right: 5px
	padding-left: 5px

.form-group
	padding-left: 10px
	padding-bottom: 5px

.btn-block
	display: block
	width: 100%

.small-logo
	display: none

.login-form
	width: 400px  	

/* breakpoints for boostrap */

@include media-breakpoint-down(md)
	.form-row 
		display: block
	.large-logo
		display: none	
	.small-logo
		display: initial	
	.form-group
		padding-left: 0
	.login-form
		width: 250px
		.small-logo
			display: block

/* Custom styling for Intl Tel Input */

.iti 
	display: block !important


.iti .dropdown-menu.country-dropdown 
	border-top-left-radius: 0px
	border-top-right-radius: 0px
	border-color: #c7cace
	margin-top: -1px


.iti .iti__country-list 
	box-shadow: none
	font-size: 14px
	margin-left: 0
	width: 244px
	max-height: 170px


.iti__flag-container.open + input 
	border-bottom-left-radius: 0px
	border-bottom-right-radius: 0px


.iti .search-container input 
	font-size: 14px
	border-color: #c7cace
	border-radius: 0
	padding: 5px 10px


.iti .search-container input:focus 
	outline: none



@media screen and (max-width: 479px) 
	.iti .iti__country-list 
		width: 88.3vw
	


ngx-intl-tel-input input 
	height: 38px
	width: 100%
	margin-bottom: 20px
	padding: 10px
	border-style: solid
	border-width: 1px
	border-color: #c7cace
	border-radius: 4px
	font-size: 18px


ngx-intl-tel-input.ng-invalid.ng-touched input 
	border: 1px solid #c0392b


ngx-intl-tel-input input:hover 
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.24)


ngx-intl-tel-input input:focus 
	outline: none !important
	border-color: #3498db
	box-shadow: 0 0 0 0 #000


ngx-intl-tel-input input::-webkit-input-placeholder 
	color: #bac2c7


ngx-intl-tel-input input:-ms-input-placeholder 
	color: #bac2c7


ngx-intl-tel-input input::-ms-input-placeholder 
	color: #bac2c7


ngx-intl-tel-input input::placeholder 
	color: #bac2c7


ngx-intl-tel-input input[disabled] 
	background-color: #e5eaf1
